* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

:root {
  --background-color: #ffffff;
  --background-color-header: #2f303a;
  --background-color-team: #f5f4fa;
  --color-text-first: #212121;
  --color-text-second: #757575;
  --color-text-third: #ffffff;
  --color-link-first: #2196f3;
  --color-link-second: #000000;
  --color-helper-text: #8e8f99;
  --border-color: #ececec;
  --border-color-2: #eeeeee;
  --icon-fill-color: #afb1b8;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --newsletter-border: rgba(255, 255, 255, 0.3);
  --form-input-border: rgba(33, 33, 33, 0.2);
  --font-primary: Roboto, sans-serif;
  --font-secondary: Raleway, sans-serif;

  --default-time: 250ms;
  --default-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--background-color);
  font-family: var(--font-primary);
  font-size: 14px;
  color: var(--font-primary);
  letter-spacing: 0.03em;
}
header {
  border-bottom: solid 1px;
  border-color: var(--border-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
  font-style: normal;
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.menu-links-web {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--color-link-first);
}

.menu-links-studio {
  letter-spacing: 0.02em;
  color: var(--color-link-second);
}
.menu-links {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-text-first);
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-links-a {
  color: var(--color-link-first);
  position: relative;
  padding: 33px 0;
}
.menu-links-p {
  color: var(--color-link-first);
  position: relative;
  padding: 33px 0;
}

.menu-links:focus,
.menu-links:hover {
  color: var(--color-link-first);
}
.menu-links-a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--color-link-first);
  border-radius: 2px;
}
.menu-links-p::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--color-link-first);
  border-radius: 2px;
}
.menu-links-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-text-second);
  display: flex;
  align-items: center;
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-links-mail:hover,
.menu-links-mail:focus {
  color: var(--color-link-first);
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-links-phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-text-second);
  display: flex;
  align-items: center;
}
.menu-links-phone:focus,
.menu-links-phone:hover {
  color: var(--color-link-first);
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-icon {
  fill: currentColor;
  margin-right: 10px;
}
.header-main {
  background: var(--background-color-header);
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/header-photo.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px 0;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
}
.team-section-background {
  background: var(--background-color-team);
}
.header-h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  width: 696px;

  margin: 0 auto;
  margin-bottom: 30px;
  color: var(--color-text-third);
}

.button-studio {
  background: var(--color-link-first);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;
  min-width: 200px;
  border: none;
  border-radius: 4px;
  padding: 10px 42px;
  font-family: var(--font-primary);
  color: var(--color-text-third);

  text-align: center;
}
.button-studio-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-family: var(--font-primary);
  color: var(--color-text-third);
  cursor: pointer;
  text-align: center;
}

.lorem-section {
  padding-top: 94px;
}
.lorem-list {
  display: flex;
  gap: 30px;
}

.lorem-ipsum-h2 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--color-text-first);
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  margin-top: 30px;
}
.lorem-ipsum-text {
  font-weight: 400;
  line-height: 1.7;
  color: var(--color-text-second);
  letter-spacing: 0.03em;
}
.lorem-ipsum-div-icon {
  width: 270px;
  height: 120px;
  background-color: var(--background-color-team);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-text-first);

  text-align: center;
  margin-bottom: 50px;
  justify-content: center;
}
.foto-section {
  display: flex;

  gap: 30px;
}
.foto-box {
  position: relative;
}

.foto-text-box {
  color: #fff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;

  letter-spacing: 0.03em;
  text-transform: uppercase;

  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.padding-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.header-team {
  font-size: 36px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;

  margin-bottom: 50px;
  justify-content: center;
  color: var(--color-text-first);
}
.header-h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 10px;
  color: var(--color-text-first);
}
.team-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;

  color: var(--color-text-second);
}
.team-tittle-padding {
  padding: 30px 0;
}

.team-social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  gap: 10px;
}

.team-social-icon {
  width: 44px;
  height: 44px;
}

.team-social-link {
  fill: var(--icon-fill-color);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--color-link-first);

  fill: var(--color-text-third);
}

.foto-team-section {
  text-align: center;
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* Klienci*/

.client-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-clients {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.client-link {
  width: 170px;
  height: 92px;
  border: 1px solid currentColor;
  color: var(--icon-fill-color);
  fill: currentColor;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon {
}
.client-item {
  margin-right: 30px;
}
.client-item:last-child {
  margin-right: 0;
}
.client-link:hover,
.client-link:focus {
  color: var(--color-link-first);
}

/* Stopka*/

.footer {
  background: var(--background-color-header);
  padding: 60px 0;
}

.footer-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--color-text-third);
  display: block;
}
.footer-wrap {
  display: flex;
  align-items: baseline;
}
.footer-links-webstudio {
  padding-bottom: 20px;
}
.footer-links-web {
  font-family: var(--font-secondary);

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--color-link-first);
}
.footer-links-studio {
  color: var(--color-text-third);
}
.footer-social-link {
  fill: var(--background-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--color-link-first);
  border-radius: 50%;
}
.footer-social-icon-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.footer-social-icon-item:last-child {
  margin-right: 0;
}
.footer-address-block {
  padding-top: 20px;
  padding-bottom: 60px;
}
.footer-address-position:not(:last-child) {
  margin-bottom: 9px;
}
.footer-links-address {
  font-weight: 400;

  line-height: 1.71;

  color: var(--color-text-third);
}
.footer-links-address:focus,
.footer-links-mail {
  font-weight: 400;

  line-height: 1.71;

  color: var(--footer-text-color);
}
.footer-links-mail:focus,
.footer-links-phone {
  font-weight: 400;

  line-height: 1.71;

  color: var(--footer-text-color);
}

.footer-joinus {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-joinus {
  margin-left: 70px;
}
.footer-social-icon-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.footer-social-icon-item:last-child {
  margin-right: 0;
}

.footer-newsletter {
  margin-left: auto;
}

.footer-inscription {
  text-transform: uppercase;
  line-height: 1.1428em;
  font-size: 14px;
  transition-duration: var(--default-time);
  transition-timing-function: var(--default-timing-function);
}
.footer-inscription:focus-within,
.footer-inscription:hover {
  color: #2196f3;
}
.input-send {
  display: flex;
  gap: 12px;
}

.button-signin {
  background: var(--color-link-first);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;
  min-width: 200px;
  border: none;
  border-radius: 4px;

  font-family: var(--font-primary);
  color: var(--color-text-third);

  text-align: left;
  position: relative;
  padding-left: 42px;
}

.button-signin:hover,
.button-signin:focus {
  background-color: #f5f4fa;
  color: #212121;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-newsletter {
  fill: var(--color-text-third);
  margin-left: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.newsletter-input {
  width: 358px;
  height: 50px;
  background-color: inherit;
  border: 1px solid var(--newsletter-border);
  border-radius: 4px;
  padding-left: 16px;

  display: block;

  background-color: #2f303a;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: white;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter-input:focus-within {
  border: 1px solid #2196f3;
  outline: none;
}

.newsletter-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/*style dla portfolio*/

.portfolio-title {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--color-text-first);
}
/*
.portfolio-text {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--color-text-second);
}
*/
.button-portfolio {
  background: var(--background-color-team);

  border-radius: 4px;
  padding: 6px 25px;
  border-style: none;
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--color-text-second);
  transition-property: color, box-shadow, background-color;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-portfolio-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  font-family: var(--font-primary);
  color: var(--color-text-first);
  cursor: pointer;
}
.button-portfolio:focus {
  background: var(--color-link-first);
  color: var(--color-text-third);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-portfolio:hover {
  background-color: var(--color-link-first);
  color: var(--color-text-third);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-portfolio-position {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.foto-portfolio-position {
  display: flex;

  flex-wrap: wrap;
  gap: 30px;
}
.foto-portfolio-border {
  border: solid 1px;
  border-color: var(--border-color-2);
  border-top: 0;
  padding: 20px 24px;
}
.portfolio-section-position {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-foto {
  display: block;
  transition: box-shadow 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-foto:hover,
.portfolio-foto:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.foto-portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;

  padding: 0.5em;
  width: 370px;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.foto-portfolio-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  padding: 49px 45px 49px 24px;
  color: var(--color-text-third);
}
.portfolio-foto:hover .foto-portfolio-overlay,
.portfolio-foto:focus .foto-portfolio-overlay {
  transform: translateY(0);
}

/*
.foto-portfolio-position:hover,
foto-portfolio-overlay,
.foto-portfolio-position:focus .foto-portfolio-overlay {
  transform: translateY(0);
}*/
.foto-portfolio-div {
  position: relative;
  overflow: hidden;
}
/*
.foto-portfolio-object {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
*/
/* Style do układania*/

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.wrapper {
  display: flex;

  align-items: center;
}
.nav {
  align-items: center;
  list-style-type: none;
  gap: 93px;
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
}

.nav-links {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  gap: 46px;
}
.contact-links {
  list-style-type: none;

  display: flex;
  gap: 50px;
  margin-left: auto;
  color: var(--color-text-second);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  display: inline-block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

/*nie wiem po co to*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* efekty i inne*/

.is-hidden {
  visibility: hidden;
  opacity: 0;
  transform: rotate(120deg);
  pointer-events: none;
}

.modal-close {
  border: none;
  width: 30px;
  height: 30px;
  background-color: #fff;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.modal {
  position: absolute;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 528px;
  height: 581px;
  cursor: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}
.backdrop {
  display: flex;

  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  cursor: not-allowed;
  transform: scale(1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 1;

  transition-property: visibility, opacity, transform;
}

/* Style cholernego formularza*/

.form-style {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: var(--color-text-second);
  margin-bottom: 4px;
  display: flex;
}
.form-main-text {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  line-height: 23px;
  margin-bottom: 12px;
}

.form-input:focus {
  border: 1px solid var(--color-link-first);
}

.form-input:focus + svg {
  fill: var(--color-link-first);
  transition-property: fill;
  transition-duration: var(--default-time);
  transition-timing-function: var(--default-timing-function);
}

.icons-form {
  top: 50%;
  left: 15px;
  fill: var(--color-text-first);
  transform: translateY(-50%);
}
.input-icons {
}
.input-icons input {
  width: 100%;
  height: 40px;
  background-color: inherit;
  border: 1px solid var(--form-input-border);
  border-radius: 4px;
  padding: 0 0 0 42px;
  display: block;
  outline: transparent;
}

.input-icons textarea {
  width: 100%;
  height: 120px;
  background-color: inherit;
  border: 1px solid var(--form-input-border);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  display: block;
  outline: transparent;
  transition-property: border;
  transition-duration: var(--default-time);
  transition-timing-function: var(--default-timing-function);
}
.input-icons svg {
  position: absolute;
}

.form-box {
  margin-bottom: 10px;
}
.form-box2 {
  position: relative;
}

::after,
::before {
  box-sizing: border-box;
}
.checkbox-label {
  margin: 20px 0 30px 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--brand-color-grey);
  display: flex;
  align-items: center;
  position: relative;
}

.checkbox-label a {
  text-decoration: underline;
  color: var(--color-link-first);
}

.checkbox-icon {
  position: absolute;
  fill: var(--background-color);
  border-radius: 2px;
  visibility: hidden;
  transition-property: background-color, visibility, scale;
  transition-duration: var(--default-time);
  transition-timing-function: var(--default-timing-function);
  scale: 0;
}

.checkbox-hidden:checked ~ .checkbox-icon {
  visibility: visible;
  background-color: var(--color-link-first);
  scale: 1;
}

.checkbox-hidden:checked ~ .checkbox-icon-unchecked {
  scale: 0;
}

.checkbox-icon-unchecked {
  position: absolute;
  scale: 1;
  transition: scale, 0.2s;
}

.checkbox-text {
  margin-left: 8px;
  color: var(--color-text-second);
}

.checkbox-hidden {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 15px;
  z-index: 10;
}

.button-send {
  background: var(--color-link-first);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;

  font-family: var(--font-primary);
  color: var(--color-text-third);

  text-align: center;
  margin: 0 auto;
  padding: 10px 0;

  display: flex;
  justify-content: center;
}
